$color-black: #222222;
$color-white: #FFFFFF;

$color-dark80: #131B23;
$color-dark60: #16222D;
$color-dark40: #223040;
$color-dark20: #567890;

$color-gray80: #969696;
$color-gray60: #BEBEBE;
$color-gray40: #D8D8D8;
$color-gray20: #F0F0F0;

$color-purple200: #2C2960;
$color-purple180: #352C85;
$color-purple140: #5D54AD;
$color-purple100: #857CD5;
$color-purple80: #9D96DD;
$color-purple60: #B6B0E6;
$color-purple40: #CECBEE;
$color-purple20: #E7E5F7;

$color-orange200: #932406;
$color-orange180: #C83200;
$color-orange140: #D15A00;
$color-orange100: #F98221;
$color-orange80: #FA9B4D;
$color-orange60: #FBB47A;
$color-orange40: #FDCDA6;
$color-orange20: #FEE6D3;

$color-green200: #2E5119;
$color-green180: #509B0B;
$color-green140: #509B0B;
$color-green100: #78C333;
$color-green80: #93CF5C;
$color-green60: #AEDB85;
$color-green40: #C9E7AD;
$color-green20: #E4F3D6;

$color-blue200: #233872;
$color-blue180: #0059A4;
$color-blue140: #0081CC;
$color-blue100: #03a9f4;
$color-blue80: #35BAF6;
$color-blue60: #68CBF8;
$color-blue40: #9ADDFB;
$color-blue20: #CDEEFD;

$color-robinEgg200: #234C3F;
$color-robinEgg180: #007757;
$color-robinEgg140: #019F7F;
$color-robinEgg100: #29C7A7;
$color-robinEgg80: #54D2B9;
$color-robinEgg60: #7FDDCA;
$color-robinEgg40: #A9E9DC;
$color-robinEgg20: #D4F4ED;

$color-pink200: #890A1C;
$color-pink180: #C80017;
$color-pink140: #D6283F;
$color-pink100: #FE5067;
$color-pink80: #FE7385;
$color-pink60: #FE96A4;
$color-pink40: #FFB9C2;
$color-pink20: #FFDCE1;

$color-facebook: #3B5998;
$color-twitter: #26A6D1;
$color-whatsapp: #75B73B;
$color-line: #6FC32E;